<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Mot de passe perdu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item *ngIf="!verif">
      <ion-label fixed>Login</ion-label>
    <ion-input type="text" [(ngModel)]="login" name="login"></ion-input>
  </ion-item>
  <button *ngIf="!verif" ion-button (click)="verifLogin()">Envoyer</button>

  <ion-item *ngIf="verif">
      <ion-label fixed>Token</ion-label>
    <ion-input type="text" [(ngModel)]="token" name="token"></ion-input>
  </ion-item>
  <ion-item *ngIf="verif">
      <ion-label fixed>Nouveau passe</ion-label>
    <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
  </ion-item>
  <ion-item *ngIf="verif">
      <ion-label fixed>Confirmer</ion-label>
    <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword"></ion-input>
  </ion-item>
  <button *ngIf="verif" ion-button (click)="changePassword()">Modifier</button>
</ion-content>
